[Unit]
Description=HBase Thrift Server Service
Documentation=https://github.com/gitinsky/ansible-role-hbase-thrift-server

[Service]
LimitNOFILE=65535
Type=simple
User={{ hadoop_user }}
Group={{ hadoop_user }}
ExecStart={{ hbase_distr_prefix }}/bin/hbase thrift start
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
Alias=hbase-thriftserver-{{ env_name }}.service
